$b: '.button';

#{$b} {
  @include clickable();
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: rem(54px);
  line-height: rem(54px);
  padding: 0 rem(45px);
  border-radius: 0;
  font-size: rem(20px);
  text-align: center;
  color: $black-true;
  outline: none;
  border: none;
  touch-action: manipulation;
  transition: $g-transition;
  transform: translate(rem(5px), rem(-5px));

  &::before,
  &::after {
    content: '';
    position: absolute;
    transition: $g-transition;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &::before {
    background-color: $orange-dark;
  }

  &::after {
    background-color: $action-base;
  }

  &:hover {
    position: relative;
    transform: translate(rem(10px), rem(-10px));

    &::before {
      transform: translate(rem(-10px), rem(10px));
    }
  }

  &:disabled,
  &._disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &._loading {
    @include hide-text();

    // for multiline
    #{$b}__text {
      opacity: 0;
    }

    &::after {
      @include spinner(20px, 2px, currentColor);
      content: '';
    }
  }

  &._full-width {
    width: 100%;
    max-width: none;
  }

  &._multiline {
    height: auto;
    min-height: 48px;
    white-space: normal;
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &._outline {
    color: $accent-base;
    background-color: $white-true;
    box-shadow: inset 0 0 0 2px $accent-base;

    &:hover {
      color: $white-true;
      background-color: $accent-base;
    }
  }
}
