# Dependencies
node_modules

# Cache files and folders
cache
.stylelintcache

# Dist folders
# docs //safe for github

# VSCode
.vscode

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
