$b: '.s-details';

#{$b} {
  padding: rem(80px) 0;

  @include tablet {
    padding: rem(40px) 0;
  }

  @include mobile {
    padding: rem(20px) 0;
  }

  &__title {
    text-align: center;
    font-size: rem(40px);
    font-weight: bold;
    margin-bottom: rem(40px);

    @include tablet {
      margin-bottom: 30px;
    }

    @include mobile {
      font-size: rem(32px);
      margin-bottom: rem(20px);
    }
  }

  &__table {
    display: flex;
    justify-content: center;

    @include tablet {
      display: block;
    }

    &-row {
      flex: 0 1 auto;
      padding: rem(44px) rem(50px) rem(38px) rem(28px);
      width: 50%;
      border: 5px solid transparent;

      &:first-child {
        padding: rem(44px) rem(50px) rem(38px) rem(54px);
        margin-right: rem(30px);
        border-color: $action-base;

        @include tablet {
          margin-right: 0;
        }

        @include mobile {
          border: 3px solid $action-base;
          padding: rem(20px);
        }
      }

      @include tablet {
        width: 100%;
        padding: rem(30px);
      }

      @include mobile {
        padding: rem(20px);
      }
    }

    &-title {
      margin-bottom: rem(35px);
      font-size: rem(30px);
      font-weight: bold;

      @include tablet {
        text-align: center;
      }

      @include mobile {
        font-size: rem(24px);
        margin-bottom: rem(20px);
      }
    }

    &-item {
      position: relative;
      font-size: rem(20px);
      margin-bottom: rem(21px);

      @include mobile {
        font-size: rem(18px);
        margin-bottom: rem(15px);
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-size: contain;
      }

      &._yes {
        padding-left: rem(30px);

        &::before {
          width: rem(20px);
          height: rem(14px);
          background-image: url(../img/icons/v.png);
        }
      }

      &._no {
        padding-left: rem(36px);

        &::before {
          width: rem(15px);
          height: rem(15px);
          background-image: url(../img/icons/x.png);
        }
      }
    }
  }
}
