$b: '.s-program';

#{$b} {
  background-color: $bg-alt;
  padding: rem(80px) 0;

  @include tablet {
    padding: rem(40px) 0;
  }

  &__title {
    text-align: center;
    margin-bottom: rem(20px);
  }
}
