$b: '.s-reasons';

#{$b} {
  padding-top: rem(80px);

  @include tablet {
    padding-top: rem(40px);
  }

  @include mobile {
    padding-top: rem(20px);
  }

  &__title {
    font-size: rem(40px);
    font-weight: bold;
    text-align: center;

    @include mobile {
      font-size: rem(32px);
    }
  }

  &__blocks {
    margin-top: rem(47px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mobile {
      margin-top: rem(20px);
    }
  }

  &__block {
    @include bg-cover();
    flex: 0 0 auto;
    position: relative;
    width: 30%;
    height: rem(252px);
    margin-bottom: rem(55px);

    &:nth-child(3n - 1) {
      margin-left: rem(30px);
      margin-right: rem(30px);

      @include tablet {
        margin-left: 0;
        margin-right: 0;
      }
    }

    @include tablet {
      flex: 0 1 auto;
      width: 47%;

      &:nth-child(2n - 1) {
        margin-right: 5%;

        @include mobile {
          margin-right: 0;
        }
      }
    }

    @include mobile {
      width: 100%;
    }

    &-name {
      position: absolute;
      left: 0;
      bottom: rem(-23px);
      width: rem(300px);
      font-size: rem(20px);
      text-align: center;
      color: $white-true;
      padding: rem(12px) 0;
      transition: $g-transition;
      background-color: $accent-base;
      box-shadow: 0 0 0 0 $blue-dark;
    }

    &:hover {
      #{$b}__block-name {
        transform: translate(rem(10px), rem(-10px));
        box-shadow: rem(-10px) rem(10px) 0 0 $blue-dark;
      }
    }
  }
}
