$b: '.s-report';

#{$b} {
  padding: rem(80px) 0;

  @include tablet {
    padding: rem(40px) 0;
  }

  @include mobile {
    padding: rem(20px) 0;
  }

  &__slider {
    overflow: hidden;

    &-wrapper {
      display: flex;
      padding: rem(200px) 0;

      @include tablet {
        padding: rem(40px) 0;
      }
    }

    &-container {
      position: relative;
    }

    @include tablet {
      overflow: visible;
    }
  }

  &__title {
    text-align: center;
    font-size: rem(40px);
    font-weight: bold;

    @include mobile {
      font-size: rem(32px);
    }
  }

  &__subtitle {
    text-align: center;
    font-size: rem(26px);
    margin-top: rem(15px);

    @include mobile {
      font-size: rem(20px);
    }
  }

  &__pagination {
    position: absolute;
    bottom: rem(10px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      bottom: 0;
    }
  }
}
