$b: '.s-report';

#{$b} {
  margin-bottom: rem(80px);

  @include tablet {
    margin-bottom: rem(40px);
  }

  &__slider {
    overflow: hidden;

    &-wrapper {
      display: flex;
      padding: rem(200px) 0;

      @include tablet {
        padding: rem(40px) 0;
      }
    }

    &-container {
      position: relative;
    }

    @include tablet {
      overflow: visible;
    }
  }

  &__title {
    margin-top: rem(60px);
    text-align: center;
    font-size: rem(40px);
    font-weight: bold;
  }

  &__subtitle {
    text-align: center;
    font-size: rem(26px);
    margin-top: rem(15px);
  }

  &__pagination {
    position: absolute;
    bottom: rem(10px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      bottom: 0;
    }
  }
}
