<section class="s-details">
    <div class="s-details__container l-outer-width l-inner-padding">
        <h2 class="s-details__title">Детали</h2>
        <div class="s-details__table">
            <div class="s-details__table-row">
                <div class="s-details__table-title">Включено в&nbsp;стоимость</div>
                <ul class="s-details__table-list">
                    <li class="s-details__table-item _yes">Проживание по маршруту (2 чел/номер)</li>
                    <li class="s-details__table-item _yes">Аренда автомобиля mid-size на всё путешествие</li>
                    <li class="s-details__table-item _yes">Мастер-классы по фото и видео</li>
                    <li class="s-details__table-item _yes">Travel-video и фото-альбом из путешествия</li>
                </ul>
            </div>
            <div class="s-details__table-row">
                <div class="s-details__table-title">Не&nbsp;включено в&nbsp;стоимость</div>
                <ul class="s-details__table-list">
                    <li class="s-details__table-item _no">Международный перелёт (от 600$)</li>
                    <li class="s-details__table-item _no">Виза (помогаем с оформлением)</li>
                    <li class="s-details__table-item _no">Бензин на авто (около 130$ за всё путешествие)</li>
                    <li class="s-details__table-item _no">Питание (порядка 40$/чел в день)</li>
                </ul>
            </div>
        </div>
    </div>
</section>
