<section class="s-description">
  <div class="s-description__container l-outer-width l-inner-padding">
    <h2 class="s-description__title g-title">
      Австралия – идеальное место для новых и ярких впечатлений
    </h2>
    <div class="s-description__info">
      <div class="s-description__text">
        <p>Дикая природа может находиться здесь сразу за следующим перекрёстком и будет мирно соседствовать с большим городом. Только в Сиднее насчитывается 70 муниципальных пляжей. В Мельбурне одну третью часть города занимают парки. А в Дарвине часто бывает, что в бухту заплывают 4-метровые крокодилы «солти». И ведь большинство туристов приезжают в Австралию, чтобы первым делом посмотреть на живых кенгуру, разве нет? А чего только стоит проснуться где-нибудь в буше от маниакального смеха кукабарры…</p>
        <div class="s-description__text-note">
          <b>Длительность перелета</b>
          19:30 (Москва - Сидней)
        </div>
        <div class="s-description__text-note">
          <b>Часовой пояс</b>
          GMT +8...+11 (Москва +5...+8)
        </div>
        <div class="s-description__text-note">
          <b>Рекомендуемые авиалинии</b>
          Сингапурские авиалинии, Эмирейтс, Этихад
        </div>
        <div class="s-description__text-note">
          <b>Разговорный язык</b>
          Английский
        </div>
      </div>
      <div class="s-description__image">
          <div class="s-description__image-bg" style="background-image: url(/img/austr.png)"></div>
      </div>
    </div>
  </div>
</section>
