<section class="s-escort">
    <div class="s-escort__container l-outer-width l-inner-padding">
        <div class="s-escort__info">
            <h2 class="s-escort__info-title">Сопровождение</h2>
            <div class="s-escort__info-subtitle">Антон Иванов</div>
            <div class="s-escort__info-text">Кругосветчик, фотограф CEO «Build The Travel»<br>Основатель «DreamBus Project»</div>
        </div>
        <div class="s-escort__img">
            <div class="s-escort__img-bg" style="background-image: url(../img/guide.png)"></div>
        </div>
    </div>
</section>
