<section class="s-hero">
    <div class="js-lazy-bg s-hero__container" data-background-image="/img/main.jpg">
        <div class="s-hero__content l-outer-width l-inner-padding">
            <h1 class="s-hero__title">Австралия</h1>
            <h2 class="s-hero__subtitle">Сидней - Бриcбен по&nbsp;Тихоокеанскому  побережью</h2>
            <div class="s-hero__info">Март 2018&nbsp;/ 16&nbsp;мест в&nbsp;группе&nbsp;/ 6&nbsp;дней от&nbsp;637$</div>
            <a href="#" class="button s-hero__btn">Смотреть программу</a>
        </div>
    </div>
</section>
