<section class="s-program">
    <div class="s-program__container l-outer-width l-inner-padding">
        <h2 class="s-program__title g-title">Программа путешествия</h2>
        {% include "modules/tabs.twig" %}
    </div>
</section>
