{% includeData 'reasons.json' %}

<section class="s-reasons">
    <div class="s-reasons__content l-outer-width l-inner-padding">
        <h2 class="s-reasons__title">6 причин посетить Австралию</h2>
        <div class="s-reasons__blocks">
            {% for reason in reasons %}
            <div class="s-reasons__block" style="background-image: url({{ reason.img }})">
                <div class="s-reasons__block-name">
                    <div class="s-reasons__block-name-content">{{ reason.name }}</div>
                </div>
            </div>
            {%  endfor %}
        </div>
    </div>
</section>
