<section class="s-subscribe">
    <div class="s-subscribe__decor u-decor"></div>
    <div class="s-subscribe__container l-outer-width l-inner-padding">
        <form class="s-subscribe__form js-form">
            <div class="s-subscribe__form-title">Узнайте все детали путешествия</div>
            <div class="s-subscribe__form-subtitle">Заполните форму и получите более подробную программу</div>
            <div class="s-subscribe__form-field">
                <input type="text" id="name" class="s-subscribe__form-input js-input">
                <label for="name" class="s-subscribe__form-label js-label">Имя</label>
            </div>
            <div class="s-subscribe__form-field">
                <input type="text" id="contact" class="s-subscribe__form-input js-input">
                <label for="contact" class="s-subscribe__form-label js-label">Телефон или e-mail</label>
            </div>
            <button type="submit" class="s-subscribe__form-btn button _accent">Получить программу</button>
        </form>
    </div>
</section>
