// Size
$outer-w: 1400px;
$inner-pd: 115px;
$inner-pd-ld: 30px;
$inner-pd-tab: 25px;
$inner-pd-mob: 15px;

// Colors
$black-true: #000;
$white-true: #fff;
$gray: #e0e0e4;
$gray-dark: #cccccf;
$blue-dark: #00162e;
$orange-dark: #caa000;

// UI Colors
$color-base: $white-true;
$accent-base: #002b58;
$action-base: #ffd228;
$text-base: #161616;
$border-base: #d1d1d1;
$link-base: #1964b1;
$shadow-base: #004484;
$site-preloader-inner: $accent-base;
$site-preloader-bg: $white-true;

// Backgrounds
$bg-main: $white-true;
$bg-alt: #f5f5f9;
$bg-footer: #ccc;

// Fonts
$font-base: 'PTSans';
$font-size: 16px;
$line-height: 1.33;
$font-family-base: $font-base, arial, helvetica, sans-serif;

// Transition
$g-transition-duration: 0.25s;
$g-transition-easing: ease-out;
$g-transition: all $g-transition-duration $g-transition-easing;
$transition-easing-alt: cubic-bezier(0.77, 0, 0.19, 1);

// Screen sizes
$wide-desktop-width: 1600px;
$desktop-width: 1340px;
$low-desktop-width: 1024px;
$tablet-width: 768px;

// Rem
$root-font-size: 100;

// Paths
$image-path: '../img/';
