<footer class="site-footer l-footer">
    <div class="site-footer__container l-outer-width l-inner-padding">
        <a href="#" class="site-footer__logo">
            <img class="js-lazy-img" src="{{ inc.pixel }}" data-src="../img/icons/logo-footer.png" alt="Australia">
        </a>
        <div class="site-footer__contacts">
            <a href="tel:+74996775844" class="site-footer__text">+7&nbsp;(499)&nbsp;677-58-44</a>
            <div class="site-footer__text">Москва, Большая Новодмитровская ул., 36, стр. 12, Москва,</div>
            <div class="site-footer__text">127015</div>
        </div>
        <div class="site-footer__social">
            <a href="#" class="site-footer__social-icon">
                <img class="js-lazy-img" src="{{ inc.pixel }}" data-src="../img/icons/vk.png" alt="vk">
            </a>
            <a href="#" class="site-footer__social-icon">
                <img class="js-lazy-img" src="{{ inc.pixel }}" data-src="../img/icons/fb.png" alt="fb">
            </a>
            <a href="#" class="site-footer__social-icon">
                <img class="js-lazy-img" src="{{ inc.pixel }}" data-src="../img/icons/ig.png" alt="ig">
            </a>
        </div>
    </div>
</footer>
